@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --text-title-md: 18px;
  --text-title-sm: 16px;

  --text-default-md: 16px;
  --text-default-sm: 14px;

  --text-small-md: 14px;
  --text-small-sm: 12px;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(112, 112, 112);
  }
}

@layer components {
  .btn-primary {
    @apply bg-red-500 text-white text-default-sm md:text-default-md cursor-pointer rounded-lg transition-all duration-300 ease-in-out;

    &:hover {
      @apply bg-red-600;
    }

    &:disabled {
      @apply bg-gray-200 text-gray-400 cursor-not-allowed;
    }
  }

  .btn-secondary {
    @apply bg-white text-red-500 text-default-sm md:text-default-md cursor-pointer rounded-lg transition-all duration-300 ease-in-out;

    &:hover {
      @apply ring-2 ring-offset-0 ring-red-500/50;
    }

    &:active {
      @apply bg-gray-50;
    }

    &:disabled {
      @apply bg-gray-200 text-gray-400 ring-0 cursor-not-allowed;
    }
  }
  .ping {
    @apply relative inline-flex size-3 md:size-4 rounded-full;
  }

  .ping-effect {
    @apply absolute inline-flex h-full w-full rounded-full opacity-75 duration-1000;
  }

  .table-primary {
    @apply w-full text-[14px] text-left text-gray-500;
  }

  .spin {
    @apply animate-spin size-5 md:size-6;
  }

  .notification {
    @apply flex items-center justify-center gap-2 fixed bottom-10 left-1/2 transform -translate-x-1/2 max-w-full w-auto px-4 py-3 rounded shadow-md text-center z-50;
  }
}

/* index.css ou global.css */
html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}
