@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", serif;

  --color-primary-red: oklch(0.637 0.237 25.331);
  --color-secondary-red: oklch(0.577 0.245 27.325);

  --color-primary-blue: oklch(0.685 0.169 237.323);
  --color-secondary-blue: oklch(0.609 0.126 221.723);

  --text-title-mobile: 18px;
  --text-title-desktop: 20px;

  --text-button-mobile: 16px;
  --text-button-desktop: 18px;

  --text-default-mobile: 14px;
  --text-default-desktop: 16px;
}

@layer components {
  .btn-primary {
    @apply bg-primary-red text-white text-button-mobile md:text-button-desktop cursor-pointer rounded-lg shadow-md transition-all duration-300 ease-in-out;

    &:hover {
      @apply bg-secondary-red;
    }

    &:disabled {
      @apply bg-gray-200 text-gray-400 cursor-not-allowed;
    }
  }

  .btn-secondary {
    @apply bg-white text-primary-red text-button-mobile md:text-button-desktop cursor-pointer rounded-lg shadow-md transition-all duration-300 ease-in-out;

    &:hover {
      @apply ring-2 ring-offset-0 ring-primary-red/50;
    }

    &:active {
      @apply bg-gray-50;
    }

    &:disabled {
      @apply bg-gray-200 text-gray-400 ring-0 cursor-not-allowed;
    }
  }
  .ping {
    @apply relative inline-flex size-3 md:size-4 rounded-full;
  }

  .ping-effect {
    @apply absolute inline-flex h-full w-full rounded-full opacity-75 duration-1000;
  }

  .table-primary {
    @apply w-full text-[14px] text-left text-gray-500;
  }

  .spin {
    @apply animate-spin size-5 md:size-6;
  }

  .notification {
    @apply flex items-center justify-center gap-2 fixed bottom-10 left-1/2 transform -translate-x-1/2 max-w-full w-auto px-4 py-3 rounded shadow text-center z-50;
  }
}

/* index.css ou global.css */
html {
  scroll-behavior: smooth;
}
